@{
    ViewData["Title"] = "Home Page";
    
}
<partial name="_MessagePartial"/>
<div class="text-center">
    <h1 style="color:blue" class="display-2">Welcome</h1>
     <h1 class="display-5"> To My Website</h1>
  
</div>




